/* Configuration.h */
#define CONFIGURATION_H
#define CONFIGURATION_H_VERSION 010109
#define STRING_CONFIG_H_AUTHOR "(Aleph Objects Inc., LulzBot Git Repository)"
#define SHOW_BOOTSCREEN
#define STRING_SPLASH_LINE1 "1.1.9"
#define STRING_SPLASH_LINE2 "http://marlinfw.org"
#define SHOW_CUSTOM_BOOTSCREEN
#define SERIAL_PORT 0
#define BAUDRATE 250000
#define CUSTOM_MACHINE_NAME "LulzBot TAZ 5"
#define MACHINE_UUID "c3255c96-4097-4884-8ed0-ded2ff9bae61"
#define EXTRUDERS 2
#define DEFAULT_NOMINAL_FILAMENT_DIA 3.0
#define POWER_SUPPLY 0
#define TEMP_SENSOR_0 5
#define TEMP_SENSOR_1 5
#define TEMP_SENSOR_2 0
#define TEMP_SENSOR_3 0
#define TEMP_SENSOR_4 0
#define TEMP_SENSOR_BED 7
#define TEMP_SENSOR_CHAMBER 0
#define DUMMY_THERMISTOR_998_VALUE 25
#define DUMMY_THERMISTOR_999_VALUE 100
#define MAX_REDUNDANT_TEMP_SENSOR_DIFF 10
#define TEMP_RESIDENCY_TIME 1
#define TEMP_HYSTERESIS 10
#define TEMP_WINDOW 10
#define TEMP_BED_RESIDENCY_TIME 1
#define TEMP_BED_HYSTERESIS 5
#define TEMP_BED_WINDOW 5
#define HEATER_0_MINTEMP 5
#define HEATER_1_MINTEMP 5
#define HEATER_2_MINTEMP 5
#define HEATER_3_MINTEMP 5
#define HEATER_4_MINTEMP 5
#define BED_MINTEMP 5
#define HEATER_0_MAXTEMP 305
#define HEATER_1_MAXTEMP 305
#define HEATER_2_MAXTEMP 305
#define HEATER_3_MAXTEMP 305
#define HEATER_4_MAXTEMP 305
#define BED_MAXTEMP 150
#define PIDTEMP
#define BANG_MAX 255
#define PID_MAX 255
#define PID_K1 0.95
#define PID_FUNCTIONAL_RANGE 10
#define DEFAULT_Kp 47.45
#define DEFAULT_Ki 4.83
#define DEFAULT_Kd 116.63
#define PIDTEMPBED
#define MAX_BED_POWER 206
#define DEFAULT_bedKp 162
#define DEFAULT_bedKi 17
#define DEFAULT_bedKd 378
#define PREVENT_COLD_EXTRUSION
#define EXTRUDE_MINTEMP 120
#define PREVENT_LENGTHY_EXTRUDE
#define EXTRUDE_MAXLENGTH 200
#define THERMAL_PROTECTION_HOTENDS
#define THERMAL_PROTECTION_BED
#define USE_XMIN_PLUG
#define USE_YMIN_PLUG
#define USE_ZMIN_PLUG
#define USE_XMAX_PLUG LULZBOT_USE_XMAX_PLUG
#define USE_YMAX_PLUG LULZBOT_USE_YMAX_PLUG
#define USE_ZMAX_PLUG LULZBOT_USE_ZMAX_PLUG
#define ENDSTOPPULLUPS
#define X_MIN_ENDSTOP_INVERTING true
#define Y_MIN_ENDSTOP_INVERTING true
#define Z_MIN_ENDSTOP_INVERTING true
#define X_MAX_ENDSTOP_INVERTING false
#define Y_MAX_ENDSTOP_INVERTING true
#define Z_MAX_ENDSTOP_INVERTING true
#define Z_MIN_PROBE_ENDSTOP_INVERTING true
#define X_DRIVER_TYPE 0x001
#define Y_DRIVER_TYPE 0x001
#define Z_DRIVER_TYPE 0x001
#define X2_DRIVER_TYPE 0x001
#define Y2_DRIVER_TYPE 0x001
#define Z2_DRIVER_TYPE 0x001
#define E0_DRIVER_TYPE 0x001
#define E1_DRIVER_TYPE 0x001
#define E2_DRIVER_TYPE 0x001
#define E3_DRIVER_TYPE 0x001
#define E4_DRIVER_TYPE 0x001
#define ENDSTOP_NOISE_FILTER
#define DISTINCT_E_FACTORS
#define DEFAULT_AXIS_STEPS_PER_UNIT {100.5,100.5,1600,760,760}
#define DEFAULT_MAX_FEEDRATE {300, 300, 3, 25}
#define DEFAULT_MAX_ACCELERATION {9000,9000,100,10000}
#define DEFAULT_ACCELERATION 500
#define DEFAULT_RETRACT_ACCELERATION 3000
#define DEFAULT_TRAVEL_ACCELERATION 500
#define DEFAULT_XJERK 8.0
#define DEFAULT_YJERK 8.0
#define DEFAULT_ZJERK 0.4
#define DEFAULT_EJERK 10.0
#define Z_MIN_PROBE_USES_Z_MIN_ENDSTOP_PIN
#define FIX_MOUNTED_PROBE LULZBOT_FIX_MOUNTED_PROBE
#define X_PROBE_OFFSET_FROM_EXTRUDER 0
#define Y_PROBE_OFFSET_FROM_EXTRUDER 0
#define Z_PROBE_OFFSET_FROM_EXTRUDER -1.200
#define XY_PROBE_SPEED 6000
#define Z_PROBE_SPEED_FAST (8*60)
#define Z_PROBE_SPEED_SLOW (1*60)
#define MULTIPLE_PROBING 2
#define Z_CLEARANCE_DEPLOY_PROBE 10
#define Z_CLEARANCE_BETWEEN_PROBES 10
#define Z_CLEARANCE_MULTI_PROBE 5
#define Z_PROBE_LOW_POINT LULZBOT_Z_PROBE_LOW_POINT
#define Z_PROBE_OFFSET_RANGE_MIN -2
#define Z_PROBE_OFFSET_RANGE_MAX 5
#define X_ENABLE_ON 0
#define Y_ENABLE_ON 0
#define Z_ENABLE_ON 0
#define E_ENABLE_ON 0
#define DISABLE_X false
#define DISABLE_Y false
#define DISABLE_Z false
#define DISABLE_E false
#define DISABLE_INACTIVE_EXTRUDER true
#define INVERT_X_DIR false
#define INVERT_Y_DIR true
#define INVERT_Z_DIR false
#define INVERT_E0_DIR true
#define INVERT_E1_DIR false
#define INVERT_E2_DIR false
#define INVERT_E3_DIR false
#define INVERT_E4_DIR false
#define Z_HOMING_HEIGHT 10
#define X_HOME_DIR -1
#define Y_HOME_DIR -1
#define Z_HOME_DIR -1
#define X_BED_SIZE (((298 + -7))<(288)?((298 + -7)):(288))
#define Y_BED_SIZE (((276 + -7))<(275)?((276 + -7)):(275))
#define X_MIN_POS (0 + 1)
#define Y_MIN_POS (0 + -7)
#define Z_MIN_POS (0 + 0)
#define X_MAX_POS (298 + -7)
#define Y_MAX_POS (276 + -7)
#define Z_MAX_POS (250 + 0)
#define MAX_SOFTWARE_ENDSTOPS
#define MAX_SOFTWARE_ENDSTOP_X
#define MAX_SOFTWARE_ENDSTOP_Y
#define MAX_SOFTWARE_ENDSTOP_Z
#define RESTORE_LEVELING_AFTER_G28 LULZBOT_RESTORE_LEVELING_AFTER_G28
#define Z_SAFE_HOMING
#define Z_SAFE_HOMING_X_POINT 10
#define Z_SAFE_HOMING_Y_POINT 10
#define HOMING_FEEDRATE_XY (50*60)
#define HOMING_FEEDRATE_Z (3*60)
#define EEPROM_SETTINGS
#define EEPROM_CHITCHAT
#define HOST_KEEPALIVE_FEATURE
#define DEFAULT_KEEPALIVE_INTERVAL 2
#define BUSY_WHILE_HEATING
#define PREHEAT_1_TEMP_HOTEND 200
#define PREHEAT_1_TEMP_BED 70
#define PREHEAT_1_FAN_SPEED 0
#define PREHEAT_2_TEMP_HOTEND 240
#define PREHEAT_2_TEMP_BED 110
#define PREHEAT_2_FAN_SPEED 0
#define NOZZLE_PARK_FEATURE
#define NOZZLE_PARK_POINT { 100, (276 + -7)-1, 20 }
#define NOZZLE_PARK_XY_FEEDRATE 100
#define NOZZLE_PARK_Z_FEEDRATE 5
#define NOZZLE_CLEAN_FEATURE LULZBOT_NOZZLE_CLEAN_FEATURE
#define PRINTCOUNTER
#define LCD_LANGUAGE en
#define DISPLAY_CHARSET_HD44780 1
#define SDSUPPORT
#define SD_CHECK_AND_RETRY LULZBOT_SD_CHECK_AND_RETRY
#define ENCODER_PULSES_PER_STEP 2
#define ENCODER_STEPS_PER_MENU_ITEM 1
#define REPRAP_DISCOUNT_FULL_GRAPHIC_SMART_CONTROLLER
#define FAST_PWM_FAN
#define SOFT_PWM_SCALE 0
#define SERVO_DELAY { 300 }
/* Configuration_adv.h */
#define CONFIGURATION_ADV_H
#define CONFIGURATION_ADV_H_VERSION 010109
#define THERMAL_PROTECTION_PERIOD 15
#define THERMAL_PROTECTION_HYSTERESIS 30
#define WATCH_TEMP_PERIOD 40
#define WATCH_TEMP_INCREASE 10
#define THERMAL_PROTECTION_BED_PERIOD 15
#define THERMAL_PROTECTION_BED_HYSTERESIS 10
#define WATCH_BED_TEMP_PERIOD 60
#define WATCH_BED_TEMP_INCREASE 2
#define TEMP_SENSOR_AD595_OFFSET 0.0
#define TEMP_SENSOR_AD595_GAIN 1.0
#define TEMP_SENSOR_AD8495_OFFSET 0.0
#define TEMP_SENSOR_AD8495_GAIN 1.0
#define USE_CONTROLLER_FAN
#define CONTROLLER_FAN_PIN 2
#define CONTROLLERFAN_SECS 60
#define CONTROLLERFAN_SPEED 255
#define FAN_KICKSTART_TIME 100
#define FAN_MIN_PWM 70
#define E0_AUTO_FAN_PIN -1
#define E1_AUTO_FAN_PIN -1
#define E2_AUTO_FAN_PIN -1
#define E3_AUTO_FAN_PIN -1
#define E4_AUTO_FAN_PIN -1
#define CHAMBER_AUTO_FAN_PIN -1
#define EXTRUDER_AUTO_FAN_TEMPERATURE 50
#define EXTRUDER_AUTO_FAN_SPEED 255
#define FANMUX0_PIN -1
#define FANMUX1_PIN -1
#define FANMUX2_PIN -1
#define X_HOME_BUMP_MM 5
#define Y_HOME_BUMP_MM 5
#define Z_HOME_BUMP_MM 2
#define HOMING_BUMP_DIVISOR { 2, 2, 4 }
#define QUICK_HOME
#define AXIS_RELATIVE_MODES {false, false, false, false}
#define INVERT_X_STEP_PIN false
#define INVERT_Y_STEP_PIN false
#define INVERT_Z_STEP_PIN false
#define INVERT_E_STEP_PIN false
#define DEFAULT_STEPPER_DEACTIVE_TIME 120
#define DISABLE_INACTIVE_X true
#define DISABLE_INACTIVE_Y true
#define DISABLE_INACTIVE_Z true
#define DISABLE_INACTIVE_E true
#define DEFAULT_MINIMUMFEEDRATE 0.0
#define DEFAULT_MINTRAVELFEEDRATE 0.0
#define HOME_AFTER_DEACTIVATE
#define MANUAL_FEEDRATE {50*60, 50*60, 4*60, 1.0 * 60, 1.0 * 60}
#define ULTIPANEL_FEEDMULTIPLY
#define DEFAULT_MINSEGMENTTIME 20000
#define SLOWDOWN
#define MINIMUM_PLANNER_SPEED 0.05
#define MICROSTEP_MODES { 16, 16, 16, 16, 16 }
#define DIGIPOT_MOTOR_CURRENT { ((950 -750)/5+135), ((950 -750)/5+135), ((1275 -750)/5+135), ((875 -750)/5+135), ((875 -750)/5+135) }
#define DIGIPOT_I2C_NUM_CHANNELS 8
#define DIGIPOT_I2C_MOTOR_CURRENTS { 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0 }
#define ENCODER_RATE_MULTIPLIER
#define ENCODER_10X_STEPS_PER_SEC 75
#define ENCODER_100X_STEPS_PER_SEC 160
#define CHDK_DELAY 50
#define LCD_INFO_MENU
#define LCD_SET_PROGRESS_MANUALLY
#define SD_FINISHED_STEPPERRELEASE true
#define SD_FINISHED_RELEASECOMMAND "M84 X Y Z E"
#define SDCARD_RATHERRECENTFIRST
#define SCROLL_LONG_FILENAMES
#define ABORT_ON_ENDSTOP_HIT_FEATURE_ENABLED
#define USE_SMALL_INFOFONT
#define USE_WATCHDOG
#define BABYSTEPPING LULZBOT_BABYSTEPPING
#define LIN_ADVANCE
#define LIN_ADVANCE_K 0
#define ARC_SUPPORT
#define MM_PER_ARC_SEGMENT 1
#define N_ARC_CORRECTION 25
#define MIN_STEPS_PER_SEGMENT 6
#define BLOCK_BUFFER_SIZE 16
#define MAX_CMD_SIZE 96
#define BUFSIZE 5
#define TX_BUFFER_SIZE 32
#define EMERGENCY_PARSER
#define ADVANCED_OK
#define ADVANCED_PAUSE_FEATURE
#define PAUSE_PARK_RETRACT_FEEDRATE 10
#define PAUSE_PARK_RETRACT_LENGTH 2
#define FILAMENT_CHANGE_UNLOAD_FEEDRATE 5
#define FILAMENT_CHANGE_UNLOAD_ACCEL 25
#define FILAMENT_CHANGE_UNLOAD_LENGTH 80
#define FILAMENT_CHANGE_SLOW_LOAD_FEEDRATE 6
#define FILAMENT_CHANGE_SLOW_LOAD_LENGTH 0
#define FILAMENT_CHANGE_FAST_LOAD_FEEDRATE 1.0
#define FILAMENT_CHANGE_FAST_LOAD_ACCEL 25
#define FILAMENT_CHANGE_FAST_LOAD_LENGTH 40
#define ADVANCED_PAUSE_PURGE_FEEDRATE 1.0
#define ADVANCED_PAUSE_PURGE_LENGTH 20
#define FILAMENT_UNLOAD_RETRACT_LENGTH 13
#define FILAMENT_UNLOAD_DELAY 5000
#define FILAMENT_UNLOAD_PURGE_LENGTH 8
#define PAUSE_PARK_NOZZLE_TIMEOUT 300
#define FILAMENT_CHANGE_ALERT_BEEPS 10
#define PAUSE_PARK_NO_STEPPER_TIMEOUT
#define PARK_HEAD_ON_PAUSE
#define HOME_BEFORE_FILAMENT_CHANGE
#define I2C_SLAVE_ADDRESS 0
#define AUTO_REPORT_TEMPERATURES
#define EXTENDED_CAPABILITIES_REPORT
#define PROPORTIONAL_FONT_RATIO 1.0
#define FASTER_GCODE_PARSER
#define ACTION_ON_PAUSE "pause"
#define ACTION_ON_RESUME "resume"
